azure/adf/pipeline/pipeline_main.json
{
	"name": "pipeline_main",
	"properties": {
		"activities": [
			{
				"name": "GetFolders",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"User-Agent": "azure-data-factory"
					},
					"url": {
						"value": "https://api.github.com/repos/krzysztof-piechowski/ecommerce-etl-pipeline/contents/data/raw\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Loop_thr_folders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('GetFolders').output.response)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline - scan files",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"folderPath": {
										"value": "@item().path",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Call_Bronze",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Loop_thr_folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"accountIdentifier": "HIJSBHB-PI11930",
						"dbName": "ECOMMERCE",
						"warehouseName": "ETL_WH"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "CALL ECOMMERCE.BRONZE.LOAD_BRONZE('@{pipeline().RunId}');",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"treatDecimalAsString": false
				}
			},
			{
				"name": "Call_Gold",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Call_Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"accountIdentifier": "HIJSBHB-PI11930",
						"dbName": "ECOMMERCE",
						"warehouseName": "ETL_WH"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "CALL ECOMMERCE.GOLD.LOAD_GOLD('@{pipeline().RunId}');",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"treatDecimalAsString": false
				}
			},
			{
				"name": "Call_Silver",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Call_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference",
					"parameters": {
						"accountIdentifier": "HIJSBHB-PI11930",
						"dbName": "ECOMMERCE",
						"warehouseName": "ETL_WH"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "CALL ECOMMERCE.SILVER.LOAD_SILVER('@{pipeline().RunId}');",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00",
					"treatDecimalAsString": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-26T20:57:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}